body{
    font-family: 'Bungee Spice', sans-serif;
    font-size: 2rem;
    background-color: #044AA0;
}
header{
    background-color: #AAC4E9;
}
img{
    width: 300px;
}
.my-container{
    margin: auto;
    width: 38%;
}
#grid{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    margin-top: 40px;
}
#grid .cells{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid brown;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    background-color: black;
}
#grid .clicca{
    opacity: 0;    
}
#grid .bomba{
    background-color: brown;
}